# Example systemd service file for cypress-editor
# uses a parameter
# 'systemctl start cypress-editor@prod' will start cypress-editor with the profile set to 'prod'

# Dependencies:
# Install boot /usr/local/bin/boot
# Place this file under /etc/systemd/system on Arch Linux (and other systems that use systemd)
# Ensure service survives reboot with 'systemctl enable cypress-editor@prod'

[Unit]
Description=cypress-editor
After=network-online.target natsumer-server.service

[Service]
Type=simple
Environment="DISPLAY=:0"
Environment="SCHEME=http"
Environment="SERVER_ADDRESS=localhost:3010"
Environment="PORT=%i"
ExecStart=/usr/bin/java -jar /home/bor/Projects/cypress-editor/target/cypress-editor-app.jar
Restart=always
User=bor
WorkingDirectory=/home/bor/Projects/cypress-editor
PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
