table.kwic thead tr th:nth-child(1) {
  max-width: 300px;
  min-width: 200px;
  text-align: right;
  text-overflow: ellipsis;
  padding-right: 2px; }

table.kwic thead tr th:nth-child(2) {
  text-align: center;
  min-width: 6em;
  max-width: 12em;
  padding-left: 2px;
  padding-right: 2px; }

table.kwic thead tr td:nth-child(3) {
  max-width: 300px;
  min-width: 200px;
  text-overflow: ellipsis;
  padding-left: 2px; }

table.kwic tbody tr td:nth-child(1) {
  max-width: 300px;
  min-width: 200px;
  text-align: right;
  text-overflow: ellipsis;
  padding-right: 2px;
  white-space: nowrap;
  overflow: hidden;
  direction: rtl; }

table.kwic tbody tr td:nth-child(1):hover {
  max-width: 300px;
  min-width: 200px;
  text-align: right;
  text-overflow: ellipsis;
  padding-right: 2px;
  text-overflow: clip;
  white-space: normal;
  word-break: break-all;
  text-align: left; }

table.kwic tbody tr td:nth-child(2) {
  text-align: center;
  min-width: 6em;
  max-width: 12em;
  padding-left: 2px;
  padding-right: 2px;
  background: #f3f3f3; }

table.kwic tbody tr td:nth-child(3) {
  max-width: 300px;
  min-width: 200px;
  text-overflow: ellipsis;
  padding-left: 2px;
  white-space: nowrap;
  overflow: hidden; }

table.kwic tbody tr td:nth-child(3):hover {
  max-width: 300px;
  min-width: 200px;
  text-overflow: ellipsis;
  padding-left: 2px;
  text-overflow: clip;
  white-space: normal;
  word-break: break-all; }
