;; Copyright © 2016, JUXT LTD.

;; Aero configuration for Edge

{:web-server
 #profile {:dev {:port 3010}}

 :selmer
 {:template-caching?
  #profile {:dev false
            :test false
            :pre-prod true
            :prod true}}}
