;; Copyright © 2016, JUXT LTD.

;; Aero configuration for Edge

{:web-server
 #profile {:dev {:host "localhost:3010"
                 :port #long #or [#env PORT 3010]
                 :scheme #keyword #or [#env SCHEME :http]}
           :prod {:host #or [#env SERVER_ADDRESS "nlp.lang.osaka-u.ac.jp/natsume-search:3011"]
                  :port #long #or [#env PORT 3011]
                  :scheme #keyword #or [#env SCHEME :https]}}

 :selmer
 {:template-caching?
  #profile {:dev false
            :test false
            :pre-prod true
            :prod true}}}
