<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon.png">
    <link rel="icon" type="image/png" href="img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="description" content="{{ description|default:\"Cypress Analysis and Evaluation System\" }}">

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <title>{{ title }}</title>

    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" />
    <link rel="stylesheet" href="re-com.css" />
    <link rel="stylesheet" href="{% url static %}app.css"/>
  </head>

  <body>
    {% block body %}
    {% block main %}
    {% endblock %}
    {% endblock %}

    <script src="cypress_editor.js" type="text/javascript"></script>
  </body>

</html>
